[submodule "OpenSUN-FPGA"]
	path = OpenSUN-FPGA
	url = https://github.com/memory-of-star/OpenSUN-FPGA.git
[submodule "OpenSUN-OS"]
	path = OpenSUN-OS
	url = https://github.com/memory-of-star/OpenSUN-OS.git
[submodule "OpenSUN-Tools"]
	path = OpenSUN-Tools
	url = https://github.com/memory-of-star/OpenSUN-Tools.git
