[submodule "OpenSUN-FPGA"]
	path = OpenSUN-FPGA
	url = https://gitcode.com/OpenSUN/OpenSUN-FPGA.git
[submodule "OpenSUN-OS"]
	path = OpenSUN-OS
	url = https://gitcode.com/OpenSUN/OpenSUN-OS.git
[submodule "OpenSUN_Tools"]
	path = OpenSUN_Tools
	url = https://gitcode.com/OpenSUN/OpenSUN_Tools.git
